body{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-image:linear-gradient(#717ffb,white);
   background-size: cover;
   background-repeat: no-repeat;
   min-height: 100vh;
} 
.heading,.Round
{
  font-size: 200px;
  font-weight: 800;
   color:#500724;
  text-align: center;
  background-color:rgba(255,255,255, 0.3);
  font-style: italic;
  width: 2500px;
  display:flex;
  margin: 0 auto;
  padding-left:500px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 40px;
  border-radius: 25px;
}
.Round ,.weapon 
{
    width:500px;
    color: #BE185D;
    text-align: left;
    font-size: 100px;
    padding: 80px;
    font-style: normal;
    background-color:rgba(255,255,255, 0.4) ;

}
.weapon{
    margin: 0 auto;
    margin-top: 80px;
    color: rgb(3, 2, 41);
    font-size:70px;
    width: 700px;
    font-weight: 700;
    text-align: center;
    border-radius: 25px;
    padding:40px;
}
.result,.container
{   margin-top:50px;
    text-align: center;
    font-size:100px;
    font-weight: bold;
}
.container
{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 1000px;
    font-size:80px;
    
}
.choice
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
 img 
{
    width: 800px;
    height: 800px;
    margin:80px ;
    flex-shrink: 0;
    border-radius: 30px;
}
 .choice img{
    transition: 1s ease;
    }
    
    .choice img:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
    }